// Footer
footer#clapat-footer.absolute
  // Footer Container
  #footer-container.parallax-footer
    // Footer Credits
    .footer-credits
      .clapat-footer-left
        #backtotop.button-wrap.button-link.left.circle-edge(data-sticky='')
          .icon-wrap
            .icon-effects.parallax-wrap(data-ball-size='grow' data-ball-color='primary' data-ball-radius='circle')
              .button-icon.parallax-element
                i.fa-solid.fa-angle-up
          .text-wrap
            .button-text
              span(data-hover='Back to Top') Back to Top
      .clapat-footer-center
        .copyright
          | 2026 &copy; 
          a.link(target='_blank' href='https://www.clapat-templates.com/' data-ball='highlight') ClaPat
          | . All rights reserved.
      .clapat-footer-right
        #footer-socials.socials-wrap
          .socials-text Follow Us
          ul.socials
            li
              span.parallax-wrap(data-ball-size='grow' data-ball-color='primary' data-ball-radius='circle')
                a.parallax-element(href='https://x.com/clapatdesign' target='_blank' aria-label='Follow ClaPat on X')
                  i.fa-brands.fa-x-twitter
            li
              span.parallax-wrap(data-ball-size='grow' data-ball-color='primary' data-ball-radius='circle')
                a.parallax-element(href='https://www.instagram.com/clapat.themes/' target='_blank' aria-label='Follow ClaPat on Instagram')
                  i.fa-brands.fa-instagram
            li
              span.parallax-wrap(data-ball-size='grow' data-ball-color='primary' data-ball-radius='circle')
                a.parallax-element(href='https://www.behance.net/clapat' target='_blank' aria-label='Follow ClaPat on YouTube')
                  i.fa-brands.fa-behance
            li
              span.parallax-wrap(data-ball-size='grow' data-ball-color='primary' data-ball-radius='circle')
                a.parallax-element(href='https://www.threads.com/@clapat.themes' target='_blank' aria-label='Follow ClaPat on Threads')
                  i.fa-brands.fa-threads
            li
              span.parallax-wrap(data-ball-size='grow' data-ball-color='primary' data-ball-radius='circle')
                a.parallax-element(href='https://www.facebook.com/clapat.ro' target='_blank' aria-label='Follow ClaPat on Facebook')
                  i.fa-brands.fa-facebook-f