.clapat-slider-wrapper.showcase-slider-carousel-horizontal
  .clapat-slider.fit-thumb-screen.fit-with-cover(data-ball-drag='horizontal')
    .clapat-slider-viewport
      .clapat-slide
        .item-content.trigger-item(data-ball='hover' data-ball-type='solid' data-ball-color='#fff' data-ball-size='auto' data-ball-radius='rounded' data-ball-info='Discover' data-ball-info-color='#000' data-ball-class='thumb-hover')
          .item-effects
            a.item-link(data-type='page-transition' href='project01.html')
            .item-media.trigger-item-link
              .item-media-wrapper
                img.item-image(src='images/01hero.jpg' alt='Item Image')
          .item-caption
            .item-title
              span Neo Action
            .item-date
              span 2026
            .item-cat
              span(data-hover='View Case') Branding
      .clapat-slide
        .item-content.trigger-item(data-ball='hover' data-ball-type='solid' data-ball-color='#fff' data-ball-size='auto' data-ball-radius='rounded' data-ball-info='Discover' data-ball-info-color='#000' data-ball-class='thumb-hover')
          .item-effects
            a.item-link(data-type='page-transition' href='project02.html')
            .item-media.trigger-item-link
              .item-media-wrapper(data-video='images/02hero.mp4')
                img.item-image(src='images/02hero.jpg' alt='Item Image')
          .item-caption
            .item-title
              span Thorned
            .item-date
              span 2026
            .item-cat
              span(data-hover='View Case') Video
      .clapat-slide
        .item-content.trigger-item(data-ball='hover' data-ball-type='solid' data-ball-color='#fff' data-ball-size='auto' data-ball-radius='rounded' data-ball-info='Discover' data-ball-info-color='#000' data-ball-class='thumb-hover')
          .item-effects
            a.item-link(data-type='page-transition' href='project03.html')
            .item-media.trigger-item-link
              .item-media-wrapper
                img.item-image(src='images/03hero.jpg' alt='Item Image')
          .item-caption
            .item-title
              span Pure Motion
            .item-date
              span 2026
            .item-cat
              span(data-hover='View Case') Branding
      .clapat-slide
        .item-content.trigger-item(data-ball='hover' data-ball-type='solid' data-ball-color='#fff' data-ball-size='auto' data-ball-radius='rounded' data-ball-info='Discover' data-ball-info-color='#000' data-ball-class='thumb-hover')
          .item-effects
            a.item-link(data-type='page-transition' href='project04.html')
            .item-media.trigger-item-link
              .item-media-wrapper
                img.item-image(src='images/04hero.jpg' alt='Item Image')
          .item-caption
            .item-title
              span Arctic Flame
            .item-date
              span 2026
            .item-cat
              span(data-hover='View Case') Branding
      .clapat-slide
        .item-content.trigger-item(data-ball='hover' data-ball-type='solid' data-ball-color='#fff' data-ball-size='auto' data-ball-radius='rounded' data-ball-info='Discover' data-ball-info-color='#000' data-ball-class='thumb-hover')
          .item-effects
            a.item-link(data-type='page-transition' href='project05.html')
            .item-media.trigger-item-link
              .item-media-wrapper
                img.item-image(src='images/05hero.jpg' alt='Item Image')
          .item-caption
            .item-title
              span Yolk
            .item-date
              span 2026
            .item-cat
              span(data-hover='View Case') Branding
      .clapat-slide
        .item-content.trigger-item(data-ball='hover' data-ball-type='solid' data-ball-color='#fff' data-ball-size='auto' data-ball-radius='rounded' data-ball-info='Discover' data-ball-info-color='#000' data-ball-class='thumb-hover')
          .item-effects
            a.item-link(data-type='page-transition' href='project06.html')
            .item-media.trigger-item-link
              .item-media-wrapper
                img.item-image(src='images/06hero.jpg' alt='Item Image')
          .item-caption
            .item-title
              span Mono Block
            .item-date
              span 2026
            .item-cat
              span(data-hover='View Case') Branding
      .clapat-slide
        .item-content.trigger-item(data-ball='hover' data-ball-type='solid' data-ball-color='#fff' data-ball-size='auto' data-ball-radius='rounded' data-ball-info='Discover' data-ball-info-color='#000' data-ball-class='thumb-hover')
          .item-effects
            a.item-link(data-type='page-transition' href='project07.html')
            .item-media.trigger-item-link
              .item-media-wrapper
                img.item-image(src='images/07hero.jpg' alt='Item Image')
          .item-caption
            .item-title
              span Kinetic
            .item-date
              span 2026
            .item-cat
              span(data-hover='View Case') Branding
      .clapat-slide
        .item-content.trigger-item(data-ball='hover' data-ball-type='solid' data-ball-color='#fff' data-ball-size='auto' data-ball-radius='rounded' data-ball-info='Discover' data-ball-info-color='#000' data-ball-class='thumb-hover')
          .item-effects
            a.item-link(data-type='page-transition' href='project08.html')
            .item-media.trigger-item-link
              .item-media-wrapper(data-video='images/08hero.mp4')
                img.item-image(src='images/08hero.jpg' alt='Item Image')
          .item-caption
            .item-title
              span Expedition
            .item-date
              span 2026
            .item-cat
              span(data-hover='View Case') Video
    .clapat-carousel-caption-wrapper
      .clapat-carousel-caption
  .clapat-slider-footer.fade-slide-element.fadeout-element.has-border
    .slider-footer-left
      .clapat-slider-progress
        .progress-info-fill Drag to Explore
        .progress-info-empty Drag to Explore
    .slider-footer-center
      .clapat-slider-navigation
        .button-wrap.cp-button-prev
          .icon-wrap
            .icon-effects.parallax-wrap(data-ball-size='match' data-ball-color='primary' data-ball-radius='circle')
              .button-icon.parallax-element
                i.fa-solid.fa-arrow-left
        .cp-buttons-caption Navigate
        .button-wrap.cp-button-next
          .icon-wrap
            .icon-effects.parallax-wrap(data-ball-size='match' data-ball-color='primary' data-ball-radius='circle')
              .button-icon.parallax-element
                i.fa-solid.fa-arrow-right
    .slider-footer-right
      .info-text
        span Case Studies
  .cursor-background-reveal(data-radius-hover='200' data-radius-click='400')
    span